<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net461" />
  <package id="NewPlatform.Flexberry.LogService" version="1.1.0" targetFramework="net461" />
  <package id="NewPlatform.Flexberry.ORM" version="5.0.0" targetFramework="net461" />
  <package id="NewPlatform.Flexberry.ORM.GisMSSQLDataService" version="1.0.0-alpha09" targetFramework="net461" />
  <package id="NewPlatform.Flexberry.ORM.GisPostgresDataService" version="1.0.0-alpha02" targetFramework="net461" />
  <package id="Npgsql" version="3.0.8" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="12.1.022" targetFramework="net461" />
  <package id="Remotion.Linq" version="1.15.2.0" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net461" />
  <package id="Unity.Configuration" version="5.2.2" targetFramework="net461" />
  <package id="Unity.Container" version="5.8.6" targetFramework="net461" />
</packages>