<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeContracts.MSBuild" version="1.12.0" targetFramework="net45" developmentDependency="true" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net45" />
  <package id="NewPlatform.Flexberry.LockService" version="1.0.0" targetFramework="net45" />
  <package id="NewPlatform.Flexberry.LogService" version="1.1.0" targetFramework="net45" />
  <package id="NewPlatform.Flexberry.ORM" version="4.1.0" targetFramework="net45" />
  <package id="NewPlatform.Flexberry.UserSettingsService" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Npgsql" version="2.2.7" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.1.022" targetFramework="net45" />
  <package id="Remotion.Linq" version="1.15.2.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
</packages>